<div class="mx-auto mt-16 max-w-lg px-4">
  <h1 class="text-xl font-medium">Let's build a Tailwind CSS plugin!</h1>
  <p class="mt-4 text-slate-700">
    Your challenge in this step is to make all the copy of this page uppercase through the use of
    the Tailwind CSS Plugin API.
  </p>
</div>
