---
import { AstroInstance } from 'astro'
import Layout from '~layouts/base.astro'

type AstroInstanceWithTitle = AstroInstance & { title: string }
const lessons = (await Astro.glob('./*.astro')) as AstroInstanceWithTitle[]
---

<Layout>
  <div class="mx-auto mt-12 max-w-5xl px-4 sm:block">
    <h1>Pro Tailwind: Multi-Theme Strategy</h1>
    <ul class="mt-8">
      {
        lessons.map((step) => (
          <li>
            <a class="underline hover:text-indigo-600" href={step.url}>
              {step.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
