<div class="m-8">
  <!-- 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This is the "not real theming" demo.
    Scroll down to the next section 
    to complete the challenge!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
  -->
  <section>
    <h2 class="text-lg font-semibold text-slate-900">How it should look</h2>
    <div class="mt-2 flex flex-wrap items-center gap-6">
      <div class="flex overflow-hidden rounded-md">
        <div
          class="bg-base-50 text-base-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-base-100 text-base-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-base-200 text-base-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-base-300 text-base-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-base-400 text-base-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-base-500 text-base-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-base-600 text-base-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-base-700 text-base-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-base-800 text-base-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-base-900 text-base-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md">
        <div
          class="bg-rainforest-50 text-rainforest-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-rainforest-100 text-rainforest-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-rainforest-200 text-rainforest-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-rainforest-300 text-rainforest-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-rainforest-400 text-rainforest-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-rainforest-500 text-rainforest-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-rainforest-600 text-rainforest-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-rainforest-700 text-rainforest-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-rainforest-800 text-rainforest-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-rainforest-900 text-rainforest-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md">
        <div
          class="bg-candy-50 text-candy-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-candy-100 text-candy-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-candy-200 text-candy-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-candy-300 text-candy-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-candy-400 text-candy-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-candy-500 text-candy-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-candy-600 text-candy-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-candy-700 text-candy-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-candy-800 text-candy-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-candy-900 text-candy-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
    </div>
  </section>

  <!-- 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ðŸ† Your challenge
    
    Without touching the markup below, 
    recreate the three color spreads from above.

    Here are the steps to follow:

    - Define CSS variables in the CSS tab

    - Extend your colors object in the Config tab
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
  -->
  <section class="mt-24">
    <h2 class="text-lg font-semibold text-slate-900">Don't touch the HTML markup!</h2>
    <div class="mt-2 flex flex-wrap items-center gap-6">
      <div class="flex overflow-hidden rounded-md" data-theme="base">
        <div
          class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md" data-theme="rainforest">
        <div
          class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md" data-theme="candy">
        <div
          class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          50
        </div>
        <div
          class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          100
        </div>
        <div
          class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          200
        </div>
        <div
          class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          300
        </div>
        <div
          class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          400
        </div>
        <div
          class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          500
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          600
        </div>
        <div
          class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          700
        </div>
        <div
          class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          800
        </div>
        <div
          class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
        >
          900
        </div>
      </div>
    </div>
  </section>
</div>
