<div class="m-8">
  <!-- 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This is the "not real theming" demo.
    Scroll down to the next section 
    to complete the challenge!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
  -->
  <section>
    <h2 class="text-lg font-semibold text-slate-900">How it should look</h2>
    <div class="mt-2 flex flex-wrap items-center gap-6">
      <div class="flex overflow-hidden rounded-md">
        <div
          class="grid h-16 w-16 place-items-end bg-base-50 p-1 font-semibold leading-none text-base-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-100 p-1 font-semibold leading-none text-base-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-200 p-1 font-semibold leading-none text-base-900"
        >
          200
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-300 p-1 font-semibold leading-none text-base-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-400 p-1 font-semibold leading-none text-base-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-500 p-1 font-semibold leading-none text-base-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-600 p-1 font-semibold leading-none text-base-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-700 p-1 font-semibold leading-none text-base-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-800 p-1 font-semibold leading-none text-base-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-base-900 p-1 font-semibold leading-none text-base-50"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md">
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-50 p-1 font-semibold leading-none text-rainforest-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-100 p-1 font-semibold leading-none text-rainforest-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-200 p-1 font-semibold leading-none text-rainforest-900"
        >
          200
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-300 p-1 font-semibold leading-none text-rainforest-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-400 p-1 font-semibold leading-none text-rainforest-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-500 p-1 font-semibold leading-none text-rainforest-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-600 p-1 font-semibold leading-none text-rainforest-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-700 p-1 font-semibold leading-none text-rainforest-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-800 p-1 font-semibold leading-none text-rainforest-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-rainforest-900 p-1 font-semibold leading-none text-rainforest-50"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md">
        <div
          class="grid h-16 w-16 place-items-end bg-candy-50 p-1 font-semibold leading-none text-candy-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-100 p-1 font-semibold leading-none text-candy-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-200 p-1 font-semibold leading-none text-candy-900"
        >
          200
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-300 p-1 font-semibold leading-none text-candy-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-400 p-1 font-semibold leading-none text-candy-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-500 p-1 font-semibold leading-none text-candy-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-600 p-1 font-semibold leading-none text-candy-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-700 p-1 font-semibold leading-none text-candy-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-800 p-1 font-semibold leading-none text-candy-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-candy-900 p-1 font-semibold leading-none text-candy-50"
        >
          900
        </div>
      </div>
    </div>
  </section>

  <!-- 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ðŸ† Your challenge
    
    Without touching the markup below, 
    recreate the three color spreads from above.

    Here are the steps to follow:

    - Define CSS variables in the CSS file

    - Extend your colors object in the Tailwind config
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
  -->
  <section class="mt-24">
    <h2 class="text-lg font-semibold text-slate-900">Don't touch the HTML markup!</h2>
    <div class="mt-2 flex flex-wrap items-center gap-6">
      <div class="flex overflow-hidden rounded-md" data-theme="base">
        <div
          class="grid h-16 w-16 place-items-end bg-primary-50 p-1 font-semibold leading-none text-primary-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-100 p-1 font-semibold leading-none text-primary-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-200 p-1 font-semibold leading-none text-primary-900"
        >
          200
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-300 p-1 font-semibold leading-none text-primary-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-400 p-1 font-semibold leading-none text-primary-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-500 p-1 font-semibold leading-none text-primary-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-600 p-1 font-semibold leading-none text-primary-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-700 p-1 font-semibold leading-none text-primary-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-800 p-1 font-semibold leading-none text-primary-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-900 p-1 font-semibold leading-none text-primary-50"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md" data-theme="rainforest">
        <div
          class="grid h-16 w-16 place-items-end bg-primary-50 p-1 font-semibold leading-none text-primary-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-100 p-1 font-semibold leading-none text-primary-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-200 p-1 font-semibold leading-none text-primary-900"
        >
          200
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-300 p-1 font-semibold leading-none text-primary-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-400 p-1 font-semibold leading-none text-primary-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-500 p-1 font-semibold leading-none text-primary-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-600 p-1 font-semibold leading-none text-primary-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-700 p-1 font-semibold leading-none text-primary-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-800 p-1 font-semibold leading-none text-primary-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-900 p-1 font-semibold leading-none text-primary-50"
        >
          900
        </div>
      </div>
      <div class="flex overflow-hidden rounded-md" data-theme="candy">
        <div
          class="grid h-16 w-16 place-items-end bg-primary-50 p-1 font-semibold leading-none text-primary-900"
        >
          50
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-100 p-1 font-semibold leading-none text-primary-900"
        >
          100
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-200 p-1 font-semibold leading-none text-primary-900"
        >
          200
        </div>
        <div
          data-theme="base"
          class="grid h-16 w-16 place-items-end bg-primary-300 p-1 font-semibold leading-none text-primary-900"
        >
          300
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-400 p-1 font-semibold leading-none text-primary-900"
        >
          400
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-500 p-1 font-semibold leading-none text-primary-50"
        >
          500
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-600 p-1 font-semibold leading-none text-primary-50"
        >
          600
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-700 p-1 font-semibold leading-none text-primary-50"
        >
          700
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-800 p-1 font-semibold leading-none text-primary-50"
        >
          800
        </div>
        <div
          class="grid h-16 w-16 place-items-end bg-primary-900 p-1 font-semibold leading-none text-primary-50"
        >
          900
        </div>
      </div>
    </div>
  </section>
</div>
