<div class="m-8">
  <h2 class="text-lg font-semibold text-slate-900">Color shades</h2>
  <div class="mt-2 flex flex-wrap gap-6">
    <div class="inline-flex overflow-hidden rounded-md" data-theme="base">
      <div
        class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        50
      </div>
      <div
        class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        100
      </div>
      <div
        class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        200
      </div>
      <div
        class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        300
      </div>
      <div
        class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        400
      </div>
      <div
        class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        500
      </div>
      <div
        class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        600
      </div>
      <div
        class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        700
      </div>
      <div
        class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        800
      </div>
      <div
        class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        900
      </div>
    </div>
    <div class="inline-flex overflow-hidden rounded-md" data-theme="rainforest">
      <div
        class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        50
      </div>
      <div
        class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        100
      </div>
      <div
        class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        200
      </div>
      <div
        class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        300
      </div>
      <div
        class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        400
      </div>
      <div
        class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        500
      </div>
      <div
        class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        600
      </div>
      <div
        class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        700
      </div>
      <div
        class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        800
      </div>
      <div
        class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        900
      </div>
    </div>
    <div class="inline-flex overflow-hidden rounded-md" data-theme="candy">
      <div
        class="bg-primary-50 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        50
      </div>
      <div
        class="bg-primary-100 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        100
      </div>
      <div
        class="bg-primary-200 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        200
      </div>
      <div
        class="bg-primary-300 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        300
      </div>
      <div
        class="bg-primary-400 text-primary-900 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        400
      </div>
      <div
        class="bg-primary-500 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        500
      </div>
      <div
        class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        600
      </div>
      <div
        class="bg-primary-700 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        700
      </div>
      <div
        class="bg-primary-800 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        800
      </div>
      <div
        class="bg-primary-900 text-primary-50 grid h-16 w-16 place-items-end p-1 font-semibold leading-none"
      >
        900
      </div>
    </div>
  </div>

  <!--
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Let's bring back the support for opacity modifiers!
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  -->

  <div class="mt-16">
    <h2 class="text-lg font-semibold text-slate-900">Color opacity</h2>
    <div class="mt-2 grid gap-6">
      <div class="flex gap-4" data-theme="rose">
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          100%
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md bg-opacity-70 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          70%
        </div>
        <div
          class="bg-primary-600/50 text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          50%
        </div>
        <div
          class="bg-primary-600 text-primary-900 grid h-16 w-16 place-items-end rounded-md bg-opacity-30 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          30%
        </div>
        <div
          class="bg-primary-600/[0.1] text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          10%
        </div>
      </div>
      <div class="flex gap-4" data-theme="rainforest">
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          100%
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md bg-opacity-70 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          70%
        </div>
        <div
          class="bg-primary-600/50 text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          50%
        </div>
        <div
          class="bg-primary-600 text-primary-900 grid h-16 w-16 place-items-end rounded-md bg-opacity-30 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          30%
        </div>
        <div
          class="bg-primary-600/[0.1] text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          10%
        </div>
      </div>
      <div class="flex gap-4" data-theme="candy">
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          100%
        </div>
        <div
          class="bg-primary-600 text-primary-50 grid h-16 w-16 place-items-end rounded-md bg-opacity-70 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          70%
        </div>
        <div
          class="bg-primary-600/50 text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          50%
        </div>
        <div
          class="bg-primary-600 text-primary-900 grid h-16 w-16 place-items-end rounded-md bg-opacity-30 p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          30%
        </div>
        <div
          class="bg-primary-600/[0.1] text-primary-900 grid h-16 w-16 place-items-end rounded-md p-1 font-semibold leading-none ring-2 ring-inset ring-black/10"
        >
          10%
        </div>
      </div>
    </div>
  </div>
</div>
